[Desktop Entry]
Type=Application
Name=KeyStore Explorer
Comment=Manage and explore keystores, certificates, and keys
Exec=keystore-explorer %F
Icon=io.github.dwbenjamin.KeystoreExplorer
Terminal=false
Categories=System;Security;
StartupNotify=true