[Desktop Entry]
Type=Application
Name=KeyStore Explorer
Comment=A standalone graphical utility that displays Java cryptography keystores
Exec=kse.sh %f
Icon=org.keystore_explorer.kse
Categories=Utility;Certificates;
MimeType=application/x-java-archive;application/java-archive;application/x-jar;
StartupWMClass=org.kse.KSE
Keywords=Java;Certificates;Keystore;Cryptography;
